<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="static/main.css">
  <title>Apinha</title>
</head>

<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand"><span style="color:#f0134d">Api</span>nha</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="docs">Getting Started</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover" style="align-content:center;display:inline-flex; align-items: center">
      <img src="static/pasta.svg" style="display:inline;width:165;height:165; margin-right: 30" />
      <div style="display:inline">
        <h1 class="cover-heading"><span style="color:#f0134d">Api</span>nha</h1>
        <p class="lead">Store, filter and analyse git repositories.</p>
        <p class="lead">
          <a href="docs" class="btn btn-lg btn-secondary"
            style="background-color:#f0134d; border: none; color:white">Learn
            more</a>
        </p>
      </div>
    </main>
    <footer class="mastfoot mt-auto" style="text-align:center">
      <div class="inner">
      </div>
    </footer>
  </div>
</body>

</html>